@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  @apply bg-bg;
}

.item_center {
  @apply flex justify-between items-center;
}

.button {
  @apply w-20 h-7 py-1 px-3 text-xs text-white rounded-md my-2 mx-1 uppercase bg-skyblue;
}

.link {
  @apply flex gap-3 py-3 px-2 text-xs items-center font-light cursor-pointer hover:bg-lightblue/40 hover:text-skyblue rounded-md duration-200 hover:translate-x-2;
}

/* App.js */
.sideBar_on {
  @apply w-60 fixed bg-white shadow-sm duration-300 z-30;
}

.sideBar_off {
  @apply w-0;
}

.Header_Container {
  @apply w-full min-h-screen bg-bg z-10 sm:z-40;
}

.navbar {
  @apply md:static w-full bg-white;
}

/* SIDE BAR */
.sideBar_container {
  @apply h-screen overflow-auto md:overflow-hidden md:hover:overflow-auto pb-10 md:px-4 pt-4 pr-0;
}

.sub_link {
  @apply px-6  hover:translate-x-2;
}

.CO_Button {
  @apply text-lg rounded-lg p-1 hover:bg-lightblue/30;
}

.body_container {
  @apply m-5 bg-white rounded-md px-4 py-4;
}

.body_header {
  @apply pt-1 pb-5 justify-center text-xs font-medium tracking-wide;
}

.error {
  color: red;
  font-size: 9px;
  margin-left: 5px;
  margin-top: 0.25rem;
}

.input_div {
  @apply flex items-center justify-center;
}

form label {
  @apply block text-left w-28 text-xs;
}

@layer components {
  input,
  select,
  textarea {
    @apply text-xs font-light py-1.5 px-2 border-solid border border-gray-500 rounded-md outline-none;
  }
}

input:focus,
textarea:focus,
select:focus {
  @apply border-sky-400;
}

input::placeholder,
textarea::placeholder select::placeholder {
  color: #a0aec0;
}

.input-error {
  border: 1px solid red;
}

.table {
  @apply min-w-full text-left text-xs font-light items-center;
}

thead {
  @apply border-b dark:border-neutral-200 uppercase;
}

th,
td {
  @apply px-6 py-4;
}

.login {
  background-image: url("/Users/moontoon/Desktop/ECommerce_PERN/client/src/data/bg3.jpeg");
  @apply bg-cover w-screen h-screen;
}

.login .login_div {
  @apply w-full pl-4;
}

.login label {
  @apply text-sm;
}

.login Button {
  @apply w-full h-8 tracking-widest bg-amber-800 hover:bg-amber-700 transition;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.DB_Images {
  @apply object-cover  h-16  rounded-lg shadow-lg;
  min-width: 4rem;
}

@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
